body{
    text-align: justify;
    background: url(https://cdn.oboi7.com/9f3c63a73eea7d71d45c73870b715c66c61022d4/minimalistichnyj-belyj-prostoj-fon.jpg) repeat-x;
    background-size: contain;
}
img{
    float: right;
    margin-top: -10px;
    margin-bottom: 20px;
    margin-right: 10%;
}

hr{
    color: #ccc;
    background-color:#ccc;
    border:1px solid;
    height:1px;
    clear:both;
}

.container{
    position: relative;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

#summary3 + blockquote{
    text-indent: 1.5em;
}

li > blockquote {
    text-indent: 1.5em;
}

.column{
    column-width: 250px;
    column-count: 3;
    column-gap: 30px;
    column-rule: 1px solid #ccc;
    margin-bottom: 20px;
}